﻿@{
    Layout = null;
}
@model Commenting.ViewModel.vUser
<link rel='stylesheet' type='text/css' href='~/public/css/cmmt.css' />
<link rel='stylesheet' type='text/css' href='~/public/js/vendor/semantic-ui/dist/semantic.css' />
<div class="main"><CommentingContent></CommentingContent></div>
<script src="~/Public/js/vendor/jquery/jquery.min.js" type="text/javascript"></script>
<script src="~/Public/js/vendor/semantic-ui/dist/semantic.js" type="text/javascript"></script>
<script src="~/Public/js/vendor/moment/moment.js" type="text/javascript"></script>
<script src="~/CMT/0/31DE9D5A77424579BBA7CFDD5CCBD10B" type="text/javascript"></script>
<!--開發測試用: <script src="~/Public/js/Commenting.js" type="text/javascript"></script>-->

@*<div class='ccmain'>
    <img class='avator' src='' alt='avator' />
    <textarea class='provide-qs' placeholder='Join the discussion...'></textarea>
    <button class='btn-ask-submit'>Submit</button>
    <div class='cmtHistory' '></div>
</div>*@
