﻿@{
    ViewBag.Title = "TestMe";
}

<h2>TestMe</h2>
<div class="main"><commentingcontent></commentingcontent></div>
<script src="~/Public/js/vendor/jquery/jquery.min.js" type="text/javascript"></script>
<script src="~/Public/js/vendor/moment/moment.js" type="text/javascript"></script>
<script src="~/Public/js/Commenting.js" type="text/javascript"></script>