﻿body { display:inline-block; border-top:solid 4px #f05b1f; }
.ui.monthly.sidebar { width: 118px !important; }
.ui.monthly.menu .item { text-align:center; line-height:0.5; font-weight:bolder; color:#888;}
.ui.monthly.menu .labYY { text-align:center; line-height:0.3; font-weight:bolder; color:#666; font-size:12px; padding:7px; color:#eee; background-color:#555;}
#userid { font-size:13px; color:#eee; background-color:#555; }
.ui.monthly.menu .item.logo { font-size:18px;  margin:0 auto; padding:20px 0; background-color:#f05b1f; color:#fff; }
.ui.monthly.menu .header.item { margin-bottom:40px; }

.updated.wkitem { position:relative; z-index:999; top:5px; padding:0 2em; color:#333; font-size:17px; }
.ui.dropdown .menu .item.selected { background-color:#777; color:#fff; }
.workingItems.modal .content { padding-top:16px; }
.ui.workingItems.modal > .content > .left { min-width:77%; border-right: dashed 1px #bbb; }
.updated.wkitem a.label { text-decoration:none; }

.mmviews { margin:1px 8px; padding:4px; border:solid 1px #ddd; display:inline-block;  }
.mmviews i { cursor:pointer;}
.btns { padding:18px 10px 30px; width:100%; display:inline-block; }
#TS { display:inline-block; }

.containers { border:dotted 1px #aaa; border-bottom:0px; width:1530px; padding:2px; margin:0; float:left; }
.containers .dd , 
.containers .wk-title ,
.containers .wk-task ,
.containers .wk-footer {  float:left; padding:0px 10px; height:24px;  }
.containers .dd { width:30px; border-left:solid 1px #ddd; border-right:solid 1px #ddd;  margin:-2px -1px; padding:4px; text-align:right; 
                    font-size:13px; line-height: 24px; background-color: #fff; color:#444; } /*蓋住雙倍的寬度線條*/

.containers .wk-title , .containers .wk-footer { width:240px; font-size:11px; line-height:13px; padding:1px 8px; }
.containers .wk-task { width:65px; font-size:12px; line-height:26px; }
.containers .wk-footer { text-align:right; font-size:11px; }


.containers.header, .containers.footer { height:24px; padding:0 2px; }
.containers.header .dd, .containers.footer .dd  { height:27px; padding:0 4px; font-size:16px; font-weight:bold; color:#fff; background-color:#999; text-align:center; }
.containers.header .wk-title, .containers.footer .wk-footer { padding:1px 8px;  }
.containers.body .dd { cursor:pointer; }
.containers.header.wkDays .dd { background-color:#eee; color:#888; line-height:24px; font-size:12px; text-align:center; }
.containers.footer       .dd { background-color:#fff; color:#888; line-height:34px; font-size:13px; font-weight:bolder; text-align:right; height:34px; border:dotted 1px #888; }
.wk-title .lb-prod { cursor:pointer; }
.wk-title .lb-prod:hover { color:red; }
.wk-title .lb-proj { display:inline-block; margin-right:6px;  }
.wk-title .lb-func { font-style:oblique; }


.ui.menu .item.mm.selected {  background-color:#ff6666; color:#fff; font-weight:bolder;}
.ui.menu .item.mm.selected:hover {  background-color:#ff6666; color:#333; font-weight:bolder;}
.ui.modal { top:10%; width:1080px; }
.ui.modal .dropdown { margin:10px; } 
i.icon.no-padding { margin:-2px 4px 0 -8px; float:left; line-height:35px; }

.dd.SatColor { background-color:#ECF5FF; }
.dd.SunColor { background-color:#ECF5FF; }
.hidden { display:none; }
.txtWkHour.actived { position:absolute; z-index:999; font-family: Verdana,​Helvetica,​sans-serif;
                    margin:-6px -4px 0; padding:1px; width:56px; text-align:center; height:32px; 
                    border:solid 2px green; background-color:#fff; font-size:18px;  }
.txtWkHour.actived.errorFormat { border:solid 3px #FF6666; background-color:#ffcccc;  } 
.containers.body .dd.edited { background-color: #BBFFDD; font-weight: bold; }

.ui.modal > .header { padding:0.5rem 2rem; }
.WkItemEdition .body { padding:1px 20px; }
.WkItemEdition .prods { }
.WkItemEdition .body .tasks .label { font-size:16px; }
.WkItemEdition .body .label { margin:2px 4px; text-decoration:none; font-size:14px; cursor:pointer; color:#444; }
.WkItemEdition .body .projs { overflow:auto; max-height:230px; min-height:30px; border:solid 1px #ddd; }
.WkItemEdition .body .projs .label ,
.WkItemEdition .body .funcs .label { margin:2px; text-decoration:none; font-size:11px; cursor:pointer; line-height: 12px; }

.ui.horizontal.divider { margin: 8px; }
.ui.horizontal.divider:before, 
.ui.horizontal.divider:after { width:47%; }


.ui.label { text-transform:none; }

.containers.header .dd.lvDt { Color: #FFE1F0; }
.dd.lvDt { background-color: #FFE1F0; }             /*HRMIS假日顏色*/

.dd.selectedRow, .wk-title.selectedRow 
{ background-color:#eee; border-left:solid 1px #eee; border-right:solid 1px #eee; }
.containers.selectedRow2 { border:solid 2px #333; background-color:#333; color:#fff; }
.ui.small.pointing.below.label { line-height:9px; padding:3px 2px 5px; margin-top:-8em; }
.ui.small.pointing.label .text { font-size:12px; }