﻿@{
    ViewBag.Title = "Help";
}
<style>
li { padding:3px 10px; }
</style>

<h3>檔名命名規則</h3>
<ul>
<li>YYYY-MM-dd_DepartUser.txt 以第一個底線為分隔符號區分為日期與USER</li>
<li>e.g. : 2015-05-13_TWNB_QA_HIMIKO.txt  ==> 分別切出 2015-05-13、TWNB_QA_HIMIKO 兩個欄位</li>
</ul>

<h3>如何轉檔?</h3>
<ol>
<li>先將待轉的檔案放在 http://192.168.7.175 E:/FileToDB 內</li>
<li>回到查詢畫面上，按下"匯入資料庫"</li>
<li>轉過檔案的會丟在 E:/FileToDB/Archive 內</li>
<li>若出現轉檔錯誤請check 檔名是否符合上述規則。</li>
<li>可以直接查詢了。</li>
<li>....</li>
</ol>
