﻿@using System.Configuration;
@model TimeSheatKPI.ViewModels.MySheatViewModel
@{ViewBag.Title = "TimeSheet"; }
<div class="ui left monthly sidebar vertical menu active ">
    <div class="logo item">TimeSheet</div><div class="header item" id="userid" data-username="@Model.UserName">@Model.UserID</div>
</div>
<div class="btns">
    @*<div class="ui tiny icon button BtnAddProd"><i class="add icon"></i> WorkingItem</div>*@
    <div class="ui tiny icon button AddWkItem"><i class="add icon"></i> WorkingItem</div>
    <div class="mmviews"><i class='ui large align justify icon' title='一整個月'></i><i class='ui large align left icon' title='上半月'></i><i class='ui large align right icon' title='下半月'></i></div><a href="~/Main/PreviewWorkingItems">Preview Items?</a><i class="large loading icon22"></i>
</div>
<div id="TS">
<div class="containers header"></div>
<div class="containers header wkDays"></div>
<div class="containers footer"></div></div>
<div class="btns"><div class="ui tiny icon button AddWkItem"><i class="add icon"></i> WorkingItem</div></div>



<div class="ui wkitem dimmer page hidden">
    <div class="ui WkItemEdition modal transition hidden" style="margin-top: -112.5px;"><i class="close icon"></i>
        <div class="body">
            <div class="ui horizontal divider">Task</div><div class="divided tasks"></div>
            <div class="ui horizontal divider">Product</div><div class="divided prods"></div>
            <div class="ui horizontal divider">Project</div><div class="divided projs"></div>
            <div class="ui horizontal divider">Function</div><div class="divided funcs"></div>

            <div class="actions">
              <div class="ui small black button" id="BtnRemoveTitle"> Remove</div>
              <div class="ui small black button"> Cancel</div>
              <div class="ui small positive right labeled icon button" id="SaveWorkingTitle">Save<i class="checkmark icon"></i></div>
            </div>
        </div>
    </div>

    <div class="ui workingItems modal transition hidden" style="margin-top: -112.5px;"><i class="close icon"></i>
        <div class="title header">PLEASE SELECT YOUR WORKING ITEM.</div>
        <div class="ui updated wkitem"></div>
                                                                                                        <div class="content" >
        <div class="left">
            <div class="ui selection prod dropdown" tabindex="0">
                <input type="hidden" name="selectedProd"><div class="text">Select Product.</div><i class="dropdown icon"></i>
                <div class="menu ui transition hidden"></div>
            </div>
            <div class="ui selection proj dropdown" tabindex="0">
                <input type="hidden" name="selectedProj"><div class="text">Select Project.</div><i class="dropdown icon"></i>
                <div class="menu ui transition hidden"></div>
            </div>
            <div class="ui selection func dropdown">
                <input type="hidden" id="selectedFunc"><div class="text">Select Function.</div>
                <i class="ui small circular inverted green selectFunc checkmark icon" style="display:none;"></i>
                <i class="dropdown icon"></i>
                <div class="floating ui green circular selectFuncSuccess label" style="display:none;"><i class="checkmark icon"></i></div>
                <div class="menu ui transition hidden"></div>
            </div>
        </div>
        <div class="right">
            <div class="ui selection task dropdown">
                <input type="hidden" id="selectedTask"><div class="text">Select Task.</div><i class="dropdown icon"></i>
                <div class="menu ui transition hidden">@foreach (var item in Model.Tasks) { <div class="item" data-value="@item.TaskID">@item.TaskName</div>  }</div>
            </div>
        </div>
    </div>
        <div class="actions">
          <div class="ui small black button" id="BtnRemoveTitle"> Remove</div>
          <div class="ui small black button"> Cancel</div>
          <div class="ui small positive right labeled icon button" id="SaveWorkingTitle">Save<i class="checkmark icon"></i></div>
        </div>
     </div>
</div>
<input type=text class="txtWkHour hidden" maxlength="5" />

<script type="text/javascript">
var iMM=@Model.CurrMonth-1, host="@ConfigurationManager.AppSettings["WebHost"].ToString()";
</script>
@section Scripts {
    @*@Scripts.Render("~/Public/js/dest/m1504.js?v=0.007")*@
    @Scripts.Render("~/Public/views/Main.js?v=0.0071")
}
