﻿@{
    ViewBag.Title = "foo";
}

<style type="text/css">
body { width:100%; }
 h2 { margin:0 0 40px; }
 .red { color:#ff6666; }
#console { width:80%; border:solid 1px #333; padding:10px; margin:10px; max-height:300px; overflow:auto; }
</style>
<p>icon size: small, large, big, huge, massive</p>
<div class="ui big">
<i class="ui big home icon"></i>
<i class="ui big heart circular icon link" data-content="Hello, I am a pop-up."></i>
<i class="ui big heart circular icon link" title="Hello, I am a pop-up."></i>
<i class="ui big heart circular icon link" title="Hello! <br /> I am a <b class=red>popup</b>" data-variation="i am variation!!"></i>
<i class="ui big setting circular icon link" title="Test onShow callback, please see console.log."></i>
</div>

<div class="ui big heart my rating">
      <i class="icon hover"></i>
      <i class="icon hover"></i>
      <i class="icon hover"></i>
      <i class="icon hover"></i>
      <i class="icon hover"></i>
      <i class="icon hover"></i>
      <i class="icon hover"></i>
      <i class="icon hover"></i>
      <i class="icon hover"></i>
      <i class="icon hover"></i>
      <i class="icon hover"></i>
    </div>

<div id="console"></div>
<div class="ui AA button green">AA</div> <!-- 建議用div 會比button來得漂亮 -->
<button class="ui BB button green">BB</button>
<div class="ui CC button green">CC</div>


<div class="ui selection size dropdown placeholder">
  <input type="hidden" name="size">
  <div class="default text">Size</div><i class="dropdown icon"></i>
  <div class="menu">
    <div class="item" data-value="0">0 Small</div>
    <div class="item" data-value="1">1 Normal</div>
    <div class="item" data-value="2">2 Max</div>
    <div class="item" data-value="3">3 XMax</div>
  </div>
</div>



@section Scripts {
<script type="text/javascript">

    $(".selection.size.dropdown")
//        .dropdown("set text","2 MMMM")
//        .dropdown("set selected", 1)
        .dropdown("set selected", 3)
        .dropdown("set value", 3)

        /* 以下寫法不行!
        .dropdown({
            "set selected":3,
            "set value":3
        })*/ 
        //.dropdown("hide")  //NG!
        //.dropdown("setting","onChange",function(v,txt){
        //    console.log(v, txt);
        //})
        ;

    $(".setting.icon")
        .popup("show",function(){ //這沒意義 因為只show第一次.
            $(this).popup("set position", "right center");
        });

    $(".ui.my.rating")
//    .rating("setting","onRate",function(v){
//        console.log(v);
//    })
    .rating("setRating",6)
    ;
    
    $(".heart.icon").popup();
    $(".AA.button").click(function(){
        var v=$(".ui.my.rating").rating("getRating");
        v=$(".selection.size.dropdown").dropdown("get value");
        console.log(v);
    });

    $(".BB.button").click(function(){
        $(".ui.my.rating").rating("clearRating");
    });

    $(".CC.button").click(function(){
        $(".ui.my.rating").rating("disable");
    });

$('.home.icon').popup({
    inline: true,
    content : "i am home!!! i am home!!! i am home!!! i am home!!!",
});

$('.home.icon').first()
  .popup("internal", 'debug', function () {
      $('#console').append(arguments[0] + "<br /><hr>")
      // scroll to bottom
      .prop("scrollTop", $("#console").prop("scrollHeight"));
  });

</script>
}