﻿@{
    ViewBag.Title = "PivotReport";
}
@model  IEnumerable<TimeSheatKPI.Models.vPivot_WorkingHourValues>
<h2>PivotReport</h2>
<table id="main">
@*<tr><td>@c.YYYY</td><td>@c.MM</td><td>@c.Dept1</td><td>@c.Dept2</td><td>@c.Dept3</td><td>@c.DeptName</td><td>@c.Userid</td><td>@c.EmpName</td><td>@c.func</td><td>@c.Hour</td><td>@c.prod</td><td>@c.proj</td><td>@c.TaskName</td></tr>*@

<tr v-repeat="all"><td>{{YYYY}}</td><td>{{MM}}</td><td>{{Dept1}}</td><td>{{Dept2}}</td><td>{{Dept3}}</td><td>{{DeptName}}</td><td>{{Userid}}</td><td>{{EmpName}}</td><td>{{func}}</td><td>{{Hour}}</td><td>{{prod}}</td><td>{{proj}}</td><td>{{TaskName}}</td></tr>
</table>

@section Scripts {<script src="~/Scripts/vue.min.js" type="text/javascript"></script>
<script type="text/javascript">
    var v = new Vue({
        el: "#main",
        data: {
            all: {}
        },
        created: function () {
            this.fetchData();
        },
        methods: {
            fetchData: function () {
                $.post("/Main/GetPivotData", { Dept: "53950B694A234BA5-987BBA2AE47D8F38" }, function (rs) {
                    all = rs;
                });
            }
        }
    });
</script>
}
