﻿@{
    ViewBag.Title = "PreviewWorkingItems";
}
@model IEnumerable<TimeSheatKPI.Models.WorkingItem>
<h2>Preview WorkingItems</h2>
<style type="text/css">
table { width:800px;  margin:10px auto;}
table td { padding: 2px 8px;  font-size:15px; }
thead td { background-color:#333; color:#eee; }
@*tbody tr:nth-child(even) { background-color:#ddd; }
tbody tr:nth-child(odd) { background-color:#fff; }*@
</style>
<table class="ui table">
<thead><tr><td>Products</td><td>Projects</td><td>Functions</td><td>Note</td></tr></thead>
<tbody>@foreach (var c in Model) { <tr><td>@c.Prod</td><td>@c.Proj</td><td pid="@c.PID">@c.Func</td><td>@c.Note</td></tr>}</tbody>
</table>
