﻿@{
    ViewBag.Title = "後台帳號維護進入點";
}
@model IEnumerable<TimeSheatKPI.Models.vEmployee>
@using System.Configuration
<style type="text/css">
#main { display:inline-block; width:95%; margin: 10px auto; background-color:#fff; padding:20px; text-align:center; }
#main .u { float:left; width:100px; border:solid 1px #aaa; margin:2px; padding:2px 6px; text-align:center; font-size:12px; cursor:pointer;}
#main .u:hover { background-color:#555; color:#fff; }
.u b { width:100%; display:inline-block;}
.u span { }
.status-N { background-color:#888; color:#eee; }
</style>
<h3>後台維護</h3>
<div id="main">@foreach (var c in Model) {<div class="u status-@c.IsEnable" gid="@c.GID"><b>@c.Account</b><span title="@c.Name">@c.UserName</span></div>}</div>
@section Scripts {
<script type="text/javascript">
    $(function () {

    });

    $(".u").on("click", function (e) {
            location.href = "@ConfigurationManager.AppSettings["WebHost"].ToString()/main/TransferToTimeSheet?token=" + $(this).attr("gid");
    });
</script>
}