﻿@{
    ViewBag.Title = "您已調查完成。";
    string host = System.Configuration.ConfigurationManager.AppSettings["WebHost"].ToString();
}
@model FormMaker.Models.UserData
<style>
    .odd { border: dashed 3px #ddd; width: 600px; padding: 30px 0; background-color: #fff; margin: 80px auto; display: block; text-align: center; }
    .pp { font-size: 17px; margin-top: 30px; }
</style>
<div class="odd">
    <img src="../../Public/css/FormMaker/thanks.jpg" />
    <h2>@Model.Note</h2>
    @*<h2>@ViewData["QuestionTitle"].ToString()</h2>*@
    <h3>感謝您已於 @Model.CreateDate.ToString() 調查完成。</h3>
</div>
