﻿@using System.Configuration;
@{
    ViewBag.Title = "EditQuestion";
    string host=ConfigurationManager.AppSettings["WebHost"].ToString();
}
@model FormMaker.Models.FormSet

<form action="@host/FormMaker/SaveFormSet" method="post">
    <div class="header sideheader" data-userid="@ViewData["UserID"].ToString()">
    <h3 class="editH3">問卷題目設計 @ViewData["UserID"].ToString()</h3>
        <div class="ui field btns">
            <div class="ui small green button" id="btnQItemAddNew"><i class="ui add icon"></i>Add Item</div>
            <button class="ui small green button" type="submit"><i class="ui check icon"></i>Save</button>
            <div class="ui small green button" id="btnPreviewTest"><i class="ui list layout icon"></i>Preview</div>
        </div>
        <div class="ui form">
            <div class="field"><input type="text" class="fsName" name="fs.Name" value="@Model.Name" /></div>
            <div class="field"><textarea class="fsDscr" cols="44" rows="2" name="fs.Dscr">@Model.Dscr</textarea></div>
        </div>
    </div>

    <div class="FormEditPanel">
        <input type="hidden" name="fs.Creator" value="@Model.Creator" />
        <input type="hidden" name="fs.GID" id="FormID" value="@Model.GID" />
        <div class="ui form" id="allForm"><div id="QuestionList"></div></div>
    </div>
</form>


<div class="column opt-tmp">
    <i class="red large check square icon"></i>
    <input class="fdop" type="text" name="Name" value="" placeholder="請輸入項目名稱" />
    <i class="red large remove sign icon remove-sign"></i>
</div>

<div class="field hidden text1"><input type="text" value="" /></div>
<div class="field hidden areatxt"><textarea></textarea></div>

@Html.Partial("EditFdPartialView")

@section Scripts{
<script type="text/javascript">
    $(function () {
        FdItems.qsControl.Text();
        gb.FormID = $("#FormID").val();
        FdItems.init();
        $("#QuestionList").sortable({
            items: "div.segment:not(.editItemPanel)" /*編輯框不要移動!*/
        }).disableSelection();
        
        //$(".ui.sticky").sticky({ context: "#allForm" });
        //        $('.ui.left.sidebar')
        //          .sidebar('setting', {
        //              dimPage: false,
        //              transition: "overlay"
        //          })
        //          .sidebar("show");
    });

   

    $("#btnQItemAddNew").click(function () {
        $("#editItemPanel").remove();
        var pn = $(".editItemPanel.template").clone().removeClass("template").attr("id", "editItemPanel");
        $("#QuestionList").append(pn);
        $("#editItemPanel").show();
        editItemPanel_Event();
        FdItems.FdSaveInit();
    });

    $("#btnPreviewTest").click(function () {
        location.href = host + "/Form/Preview/" + $("#FormID").val();
    });
    
    /* 檢視列的事件 */
    $("#QuestionList")
        .on("sortupdate", function (e, ui) {
            var ss = "", gid = "", k = 0;
            $(".raised.segment.op-item").each(function (i, n) {
                gid = $(n).attr("data-gid");
                k = i + 1;
                ss += gid + ":" + k + ";";
            });
            FdItems.SaveSort(ss);
        })
        .on("click", ".btnDeleteQsItem", function () {
            var gid = $(this).parent().data("gid");
            FdItems.Delete(gid);
        })
        .on("click", ".btnCopyQsItem", function () {
            $("#editItemPanel").show();
            FdItems.FdSaveInit();
        })
        .on("click", ".btnEditQsItem", function () {
            var me = $(this).parent(),
                gid = me.data("gid"),
                options = me.find(".qsTyp .column"),
                pn = $(".editItemPanel.template").clone().removeClass("template").attr("id", "editItemPanel");
            /*console.log("QsItem - gid:", gid);*/
            me.addClass("hidden").before(pn);
            $("#editItemPanel").fadeIn("fast");
            FdItems.setFdCtrl(gid);
            FdItems.qsControl.MultiChoice(options);
            editItemPanel_Event();
        })
        .on("click", ".remove-sign", function (e) {
            var me = $(e.target),
                optid = me.prev().attr("data-opt_id"),
                column = me.parent();
            FdItems.RemoveOption(optid);
            column.remove();
        });




    function editItemPanel_Event() {
        $("#editItemPanel")
            .on("click", "#btnQItemSave", function () {
                console.log("click #btnQItemSave");
                FdItems.FdSave();
            })
            .on("focusout", "#Title,#HelpText", function () { /* Title,HelpText,CtrlType異動時都會自動儲存 */
                console.log("focusout #Title or #HelpText");
                FdItems.FdSaveInit();
            })
            .on("click", "#btnQItemView", function () {
                console.log("click #btnQItemView");
                FdItems.init();
            })
            .on("change","#ddl_QsTyp", function () {
                console.log("change #ddl_QsTyp");
                var v = $(this).val() + "";
                FdItems.qsControl[v]();
            });
    }
      
</script>
}
