﻿@{
    ViewBag.Title = "Finished";
    string host = System.Configuration.ConfigurationManager.AppSettings["WebHost"].ToString();
}
@model FormMaker.Models.FormSet
<style>
.thankyou { border:dashed 3px #ddd; width:600px; padding:30px 0; background-color:#fff; margin:80px auto; display:block; text-align:center; }
.pp {font-size:17px; margin-top:30px; }
</style>
<div class="thankyou">
<h2>問卷結束，感謝您的作答</h2>
<p class="pp">@Model.Name 已結束。</p>
    <img src="../../Public/css/FormMaker/images.jpg" />
@*，您可以再回去<a href="@host/Form/Preview/@Model.GID">修改</a></p>*@
</div>