﻿@{
    string host=System.Configuration.ConfigurationManager.AppSettings["WebHost"].ToString();
}
@model FormMaker.ViewModels.FormSetsViewModel
<style>
    #main { margin:20px auto; width:900px; padding:20px; }
    .ui.table tr td { padding:6px; font-size:13px; border-top:1px solid #bbb; vertical-align:top; }
    .left { float:left; }
    .title { font-size:15px; }
    .dscr { color:#777; margin:8px 0 16px;}
    .dt { padding:2px; width:100%; margin:1px; display:inline-block; }
    .dt label { display:inline-block; width:50px; color:brown; }
    .dt1 { width:60%;}
    .dt2 {width:40%;}
</style>
<div id="main">
<div class="ui small addnew twitter button"><i class="ui add icon"></i>新開問卷表單</div>
<table class="ui table">
<tbody>
@foreach (var d in Model.FormSets) 
{
    <tr><td class="dt1"><div><a class='title' href="@host/Form/EditQuestion?d=@d.GID">@d.Name</a></div>
            <p class="dscr">@d.Dscr</p></td>
        <td class="dt2">
            <a class="dt" href="@host/Form/Start/@d.GID">實際表單</a>
            <a class="dt" href="@host/FormResult/@d.GID">Result</a>    
            <p class="dt"><label>End</label>@d.EndDate</p>
            <p class="dt"><label>Begin:</label>@d.StartDate</p>
            <p class="dt"><label>Create:</label>@d.CreateDate</p></td>
    </tr>
}
</tbody>
</table>
</div>
@section Scripts {
<script type="text/javascript">
    $(function () {
        gb.init();
        console.log(gb.labels.home);
    });

    $(".addnew").click(function () {
        location.href = "@host/Form/NewFormForAdmin";
    });

</script>
}