﻿@using System.Configuration;
@{
    ViewBag.Title = "New Add Form";
    string host=ConfigurationManager.AppSettings["WebHost"].ToString();
}
@model FormMaker.ViewModels.UserViewModel
<style>
    #mbody { width:900px; margin:10px auto;}
</style>
<div id="mbody">
    <h3>請填寫問卷說明</h3>
    <form action="@host/Form/SaveFormSet" method="post">
        <div class="ui form">
            <div class="field">
                <label>問卷題目</label><input type="text" name="Name">
            </div>
            <div class="field">
                <label>說明</label><textarea name="Dscr"></textarea>
            </div>
            <div class="field">
                <input type="hidden" name="Creator" value="@Model.UserID" />
                <button class="ui secondary button" type="submit">Save</button>
            </div>
        </div>
    </form>
</div>