﻿@{
    ViewBag.Title = "Strange Page";
    string host = System.Configuration.ConfigurationManager.AppSettings["WebHost"].ToString();
}
<style>
    .odd { border: dashed 3px #ddd; width: 600px; padding: 30px 0; background-color: #fff; margin: 80px auto; display: block; text-align: center; }
    .pp { font-size: 17px; margin-top: 30px; }
</style>
<div class="odd">
    <h2>@ViewData["Msg"].ToString()</h2>
    <img src="../../Public/css/FormMaker/images.jpg" />
</div>
