﻿@using System.Configuration;
@{
    ViewBag.Title = "問卷調查結果分析";
    string host = ConfigurationManager.AppSettings["WebHost"].ToString();
}
@model FormMaker.Models.FormSet
<style>
.ui.raised.segment.op-item-real { border:0px solid #ddd; margin:0}
.p-options .column { font-size:15px; color:#777; margin:8px 0; }
.ui.floating.label.op { left:30px; top:5px; }
.v-dscr { font-size:14px; padding:5px; color:#666; margin:1px; border-top:dashed 1px #ddd; }
.fd-Radio-Static { border-top:dashed 1px #ccc; padding:5px 0; width:100%; float:left; }
.gt-p, .gt-tag, .gt-score {  float:left; }
.gt-p { width:90%; padding: 2px 0;  margin:3px 0 0;}
.ui.label.gt-score { font-size:19px; text-align:center; font-weight:bold; color:#666; padding:4px 30px; } 
.gt-tag { color:#555; font-size:15px; line-height:24px; padding-right:10px; }
.ui.label.cc { font-size:16px; padding:4px 20px; text-align:right; width:90px;  }
</style>
@*<h2 class="pyrf h2">Preview Your Form</h2>*@
<div class="FormPanelPreview">
<h3 class="viewH3">@Model.Name</h3>
@*<div class="helpDscr">@Model.Dscr</div>*@

    <div class="ui form" id="Fs" data-fsid="@Model.GID">
        <input type="hidden" name="FsID" id="FsID" />
    </div>

    <div id="QuestionListPV">
        <div class="ui teal progress" id="empf1">
          <div class="bar">
            <div class="progress"></div>
          </div>
          <div class="label"></div>
        </div>

        <div class="ui raised segment op-item-real" v-repeat="questions" data-fdid="{{GID}}">
            <div class="floating ui blue circular label op">{{SortNo}}</div>
            @*<div class="p-gid">{{GID}} - {{QsTyp}}</div>*@
            <div class="p-title">{{Title}}</div>
            @*<div class="p-helpText">{{HelpText}}</div>*@
            <div class="p-ctrl" data-placeholder="{{Placeholder}}"></div>
            <input type="hidden" name="{{GID}}" class="hiddenTyp" data-qstyp="{{QsTyp}}" value="" />
            <div class="p-options" v-component="cmp-{{QsTyp}}" v-with="childMsg : GID"></div>
        </div>
        @*<div class="ui small green button" id="btnSave" v-on="click:click_ddd"><i class="ui check icon"></i>Save</div>*@
    </div>
</div>


    <div hidden id="fd-MultiChoice">
        <div v-repeat="FdOptions" class='column opt-checkbox'>
            <div class='checkbox'>
                <div class='ui green label cc' id='{{Value}}'>0</div>
                <label>{{Text}}</label>
            </div>
        </div>
     </div>


    <div hidden id="fd-Radio">
        <div v-repeat="FdOptions" class='column opt-checkbox'>
            <div class='radio checkbox'>
                <div class='ui green label cc {{StaticTag}}' id='{{Value}}'>0</div>
                <label>{{Text}}</label>
            </div>
        </div>
        <div class="fd-Radio-Static"></div>
    </div>

    <div hidden id="fd-Text">
        <div class='ui field' cname='cmp-{{childMsg}}'></div>
    </div>

    <div hidden id="fd-TextArea">
        <div class='ui field' cname='cmp-{{childMsg}}'></div>
    </div>

@section Scripts{
    <script type="text/javascript">

        var dd = {},
            fsid = $("#Fs").attr("data-FsID"),
            pp;

        Vue.debug=true;

        $(function () {
            var fsid = $("#Fs").attr("data-fsid");
            //console.log(fsid);
            var tt=@ViewData["TotalEmps"].ToString();
            var rr=@ViewData["RealTested"].ToString();
            //rr+=30;

            $("#empf1").progress({
                showActivity : true,
                precision:3,
                label: false,
                value: rr,
                total: tt,
                percent:parseInt(rr)/parseInt(tt),
                text: {
                    active : '員工完成度: {percent} %'
                }
            });

            $("#FsID").val(fsid);

            $.post(host + "/Sync/Fds", { FsID: fsid }, function (rs) {
                dd = rs;
                pp = new Vue({
                    el: "#QuestionListPV",
                    data: {
                        questions: rs
                    },
                    components: {
                        "cmp-MultiChoice": {
                            inherit: true,
                            template: "#fd-MultiChoice"
                        },
                        "cmp-Checkboxs": {
                            inherit: true,
                            template: "#fd-Radio"
                        },
                        "cmp-Text": {
                            inherit: true,
                            template: "#fd-Text"
                        },
                        "cmp-TextArea": {
                            inherit: true,
                            template: "#fd-TextArea"
                        }
                    }
                });
                var tt=@ViewData["TotalEmps"].ToString()
                FdItems.UserSelectedAnswerStatic(fsid, tt);
            });

        });
    </script>
}
