﻿<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>@ViewBag.Title - ONELab</title>
<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<meta name="viewport" content="width=device-width" />
@Styles.Render("~/Content/FormMaker") @*@Scripts.Render("~/requirejs")*@
</head>
<body>
@*<div class="ui left monthly sidebar vertical menu active ">
    <div class="logo item">問卷調查表AAAA</div>
</div>*@

@RenderBody()
</body>

<script type="text/javascript">
 var host = "@System.Configuration.ConfigurationManager.AppSettings["WebHost"].ToString()";
</script>
@Scripts.Render("~/bundles/js")@RenderSection("scripts", required: false)

</html>
