﻿<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>@ViewBag.Title - ONELab</title>
<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<meta name="viewport" content="width=device-width" />
@Styles.Render("~/Public/css/dest/m.css")
</head>
<body>
<section class="content-wrapper clear-fix">@RenderBody()</section>
@Scripts.Render("~/bundles/jq")@RenderSection("scripts", required: false)
</body>
</html>
